.h1 {
    font-size: 26px;
    text-transform: uppercase;
}
.h2 {
    font-size: 23px;
    text-transform: uppercase;
}
.h3 {
    font-size: 20px;
    text-transform: uppercase;
}
.h4 {
    font-size: 16px;
}
.h5 {
    font-size: 14px;
}
.h6 {
    font-size: 12px;
}
.small
    {
        font-size: 10px;    
    }
body
	{
		background-color: #f0f8ff;
	}
.container
	{
		background-color: white;
		border: 1px solid #e0e0e0;
		border-radius: 10px;
		padding: 20px 0px 50px 0px;
	}

.link_0, .link_0 a 
	{
		color: #c0c0c0;
	}
.link_0 a:hover 
	{
		color: #505050;
	}	
	
.link_1, .link_1 a, .link_1 a:hover 
	{
		color: #8080FF;
	}	
