# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.nm
*.oai
application/config.php
config.php
config.php
config.php
config.php
config.php
*.pdf
application/config/config.php
application/config/database_2.php
application/config/database_2.php
application/views/brapci/index/authors_A.php
application/views/brapci/index/authors_B.php
application/views/brapci/index/authors_C.php
application/views/brapci/index/authors_D.php
application/views/brapci/index/authors_F.php
application/views/brapci/index/authors_E.php
application/views/brapci/index/authors_G.php
application/views/brapci/index/authors_H.php
application/views/brapci/index/authors_I.php
application/views/brapci/index/authors_J.php
application/views/brapci/index/authors_K.php
application/views/brapci/index/authors_L.php
application/views/brapci/index/authors_M.php
application/views/brapci/index/authors_N.php
application/views/brapci/index/authors_O.php
application/views/brapci/index/authors_P.php
application/views/brapci/index/authors_Q.php
application/views/brapci/index/authors_R.php
application/views/brapci/index/authors_S.php
application/views/brapci/index/authors_T.php
application/views/brapci/index/authors_U.php
application/views/brapci/index/authors_V.php
application/views/brapci/index/authors_Z.php
application/views/brapci/index/authors_W.php
application/views/brapci/index/authors_X.php
application/views/brapci/index/authors_Y.php
*.rfe
*.txt
*.doc
_repository/47/2020/.htaccess
_repository/47/2020/04/.htaccess
*.json
